:root {
    font-size: calc(0.5em + 1vw);
    box-sizing: border-box;
  
  }
  
  
  *,
  ::before,
  ::after {
    box-sizing: border-box;
  }


.chartFlexContainer {
    display: flex;
    flex-direction: column;
  
   
}

.chartFlexContainer>h1 {
    font-weight: lighter;
    text-align: center;
}

.itemEven {
    background-color:#f6f6f5;
}

.itemOdd{
    color:#f6f6f5;
}

.itemOdd span,.bookmarkIcon {color:black}

/* .chartFlexContainer img {
    margin-right: 4em;
} */


/* .verticalLine {
    display: inline-block;
    border-left: 1px solid #ccc;
    margin: 0 10px;
    height: 15px;
} */

.starIcon {
color: #c39400;
}

.titleFlexContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5em;

} 

 .titleFlexContainer .itemOne {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}



.titleFlexContainer p {
    color:red
}
.titleFlexContainer img {

        width: calc(250px + 5vw);
        height: calc(350px + 5vw);
        margin-top: 1em;
   
}

.starIconsFlex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
@media (max-width:600px){
    .itemFlexContainer{
        display: flex;
        flex-direction: column;
       
    }
}

.itemFlexContainer {

    display: flex;
    padding: 2em;  
    background-image: url('https://images.squarespace-cdn.com/content/v1/5716ca1427d4bd834e4a5452/1471310840111-GJWOJQI73JEO6MY78I5R/ke17ZwdGBToddI8pDm48kBuE2GvODXuyYE8UaryAMvR7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0kD6Ec8Uq9YczfrzwR7e2Mjw1uabqA6nQT0id-7Rt9SIPZxKGEGCRmvs9smSRVMl_g/BlueHaloGradient.jpg?format=2500w');
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: space-around;
    align-items: center;
    filter:grayscale(30%);
    /* filter: drop-shadow(80px 80px 100px #0e1d3a); */
   
}

.itemFlexContainer .releaseYear{
    color:#968e85;
}

/* .starIconOutline {
    margin-left: 1.55em;
} */

.columnTitleFlex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: grey;
    border-top: 1px solid #9a9289;
    

}

.columnTitleFlex h4 {
    font-weight: normal;
    margin-right: 1.8em;
}

.bookmarkIcon, .starIcon {
margin-left: 0.5em;    
}

.movieTitleFlex {
    display:flex;
    justify-content: space-around;
}


.movieDetails {
    padding: 2em;
}

.movieDetailDescription {
    color:rgba(224,189,189,1);
}




