nav {
    display:flex;
    justify-content: space-around;
    background-color: blue;
    align-items: center;
    color: white;
    list-style: none;
    text-decoration: none;
    font-size: 2em;
    
}