
.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: auto;
  gap: 3em;
  margin: 1em;
  
}

.gridContainer img {
  width: 220px;
  height: 330px;
  border-radius: 10%;
}
.homeForm {
  display: flex;
  justify-content: center;
  gap: 0.75em;
  margin-bottom: 0.30em;
  margin: 1em;;
}

.homeForm input {
width: 80vw;
padding:1em;
/* margin: 1em; */
border: 2px solid lightgrey;
border-radius: 10px;
}

.homeForm button {
  background-color: #e60023;
  border: 3px solid #e60023;
  border-radius: 10%;
  color: white;
  padding: 0.5em 2em;
  font-size: 1rem;
}



.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }

 .cameraIcon {
  height: 8vh;
} 